*.pyc
__pycache__
# Elastic Beanstalk Files
.elasticbeanstalk*/*
.elasticbeanstalk/*
**.ebextensions/
# .elasticbeanstalk2/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
cache-directory/*
file_system_store/*
__pycache__
envDash
TTA_Biogas*.py