#page-content {
  padding: 2rem 1rem;
}
span,
p,
label,
button {
  color: #fff !important;
}
.updatemenu-item-rect {
  /* fill: #000 !important; */
  fill: rgb(24, 20, 20) !important;
}

.updatemenu-item-rect:hover {
  fill: rgb(120, 120, 120) !important;
  /* fill:#121212 */
}
